<div class="page-header">
    <h1>Welcome to the AgilityWorks JS Framework Test</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a>Home</a>{{/link-to}}
            {{#link-to 'details' tagName="li"}}<a>Details</a>{{/link-to}}
        </ul>
    </div>
</nav>

{{outlet}}