<h2>Home</h2>

<ol>
    <li>Congratulations! If you can see this you've successfully installed and run the application</li>
    <li>First, check out the current functionality:
        <ol type="a">
            <li>Head to 'Details'</li>
            <li>In the code, take a look at:
                <ul>
                    <li><code>models/detail-field</code></li>
                    <li><code>server/mocks/detail-field</code></li>
                    <li><code>server/mocks/detail-field</code></li>
                </ul>
            </li>
        </ol>
    </li>
    <li></li>
</ol>

{{outlet}}
