<h2>Home</h2>

<ol>
    <li>Congratulations! If you can see this you've successfully installed and run the application</li>
    <li>First, check out the current functionality:
        <ol type="a">
            <li>Head to 'Details'</li>
            <li>In the code, take a look at:
                <ul>
                    <li><code>templates/details</code></li>
                    <li><code>models/detail-field,contact</code></li>
                    <li><code>server/mocks/detail-fields,contacts</code></li>
                    <li><code>components/render-fields</code></li>
                    <li><code>templates/components/render-fields</code></li>
                </ul>
            </li>
            <li><em>Task:</em> Fix the bug that is preventing the 'First Name' from appearing</li>
        </ol>
    </li>
    <li></li>
</ol>

{{outlet}}
